:root {
  --gray: #bec1bb;
  --white: #fff;
  --oldsilver: #828485;
  --fuenteprimaria: "Open Sans", sans-serif;
  --fuenteroboto: "Roboto", sans-serif;
  --larga: 45px;
  --mediana: 16px;
  --pequeña: 14px;
  --Expequeña: 10px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.contenedor-grid {
  display: grid;

  max-width: 1580px;
  margin: 0px auto;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "A A A A"
    "B C C C"
    "D D D D";

}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px;
}

.imagenes {
  height: 600px;
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
}

.imagenes button{
  background-color: blue;
  padding: 20px;
  color: var(--white);
  text-align: center;
  font-family: var(--fuenteroboto);
  font-weight: 700;
  border: none;
  font-size: 20px;

}
.imagenes button:hover{
  cursor: pointer;
}

.imagenes h3, p{
  font-family: var(--fuenteroboto);
  color: #808080;
  text-align: center;
}

.imagenes:nth-child(1) {
  background-image: url(../img/imagen\ 1.jpeg);
}
.imagenes:nth-child(2) {
  background-image: url(../img/imagen\ 2.jpeg);
}
.imagenes:nth-child(3) {
  background-image: url(../img/imagen\ 3.jpeg);
}
.imagenes:nth-child(4) {
  background-image: url(../img/imagen\ 4.jpeg);
  
}



/* Distrucion */
header,

footer {
  padding: 50px;
  background-color: #7c9efb;
}

aside, 
main {
background-color: #f1e0ed;
}

header {
  grid-area: A;
}

aside {
  grid-area: B;
}
main {
  grid-area: C;
}

footer {
  grid-area: D;
}
